.ProductGrid {
    margin: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .ProductGrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
