.ProductGrid {
    margin: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        text-decoration: none;
        color: black;
        font-size: small;
    }

    &__seed {
        justify-self: center;
        padding: 10px 30px;
        border-radius: 12px;
        margin: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .ProductGrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
