@import "../../asset/palette.scss";

.Footer {
    background-color: $primary-background;
    color: white;
    padding: 5vh 0vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__section {
        width: 350px;

        ul {
            list-style-type: none;
        }

        li {
            font-family: $body-font;
            font-size: small;
        }

        a {
            text-decoration: none;
            font-family: $body-font;
        }

        li:first-of-type {
            font-weight: bold;
        }

        button {
            margin-left: 40px;
        }
    }

    &__footnote {
        margin: 7vh;
        width: 60vw;
        text-align: center;
        font-size: small;

        justify-self: center;

        a {
            text-decoration: none;
            font-family: $body-font;
            color: white;
        }
    }
}

@media only screen and (max-width: 600px) {
    .Footer {
        &__section {
            width: 150px;
            li {
                font-size: x-small;
            }
        }

        &__footnote {
            font-size: x-small;
        }
    }
}
