.CartForm {
    background-color: rgb(231, 231, 231);
    width: 400px;
    padding: 10px 20px;
    margin: 30px 10px;
    display: flex;
    flex-direction: column;

    input {
        width: 98%;
        border: none;
        padding: 5px;
        margin: 5px 0px;
    }

    button {
        width: 100%;
        padding: 10px;
        margin: 10px 0px;
        cursor: pointer;
    }

    p {
        font-size: small;
        text-align: center;
    }
}
