@import "./../../asset/palette.scss";

.ProductPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__gallery {
        margin-bottom: 20px;
        justify-content: center;
        max-width: 500px;
    }

    &__gallery_image {
        width: 500px;
    }

    &__item_description {
        margin: 20px;
    }

    &__item {
        width: 550px;
    }
    &__item_name {
        font-family: $body-font;
        font-weight: bolder;
        font-size: x-large;
    }
    &__item_price {
        font-weight: bold;
    }

    &__size_guide {
        text-align: right;
    }

    &__item_info {
        margin: 20px 0px;
    }
}

@media only screen and (max-width: 600px) {
    .ProductPage {
        &__gallery {
            max-width: 320px;
        }
        &__gallery_image {
            width: 320px;
        }

        &__item_description {
            font-size: smaller;
        }

        &__item_shop {
            display: flex;
            flex-wrap: wrap;
            margin: 20px 0px;

            button {
                width: 90vw;
                margin: 5px 0px;
            }
        }
    }
}
