.Cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__basket {
        background-color: rgb(231, 231, 231);
        margin: 30px 10px;
        width: 400px;
        padding: 10px 20px;
    }

    &__item {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 20px 0px;
        margin: 20px 0px;

        p {
            margin: 0px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__qty {
        width: 60px;
        text-align: center;
    }

    &__total {
        display: flex;
        justify-content: flex-end;
    }
}
