@import "../../asset/palette.scss";

.ProductCard {
    width: 250px;
    margin: 25px 5px;

    &__image {
        width: 250px;
    }

    &__name {
        margin: 0;
        font-family: $body-font;
    }

    &__price {
        margin: 0px 0px 10px 0px;
        font-family: $body-font;
    }
}

@media only screen and (max-width: 600px) {
    .ProductCard {
        margin: 3px;
        width: 150px;

        &__image {
            width: 150px;
        }

        &__name {
            margin: 0;
            font-family: $body-font;
            font-size: small;
        }

        &__price {
            margin: 0px 0px 5px 0px;
            font-family: $body-font;
            font-size: small;
        }
    }
}
