.ProductInput {
    &__sizes {
        border: none;
        border-radius: 5px;
        margin: 5px;
    }

    &__sizes:hover {
        background: rgb(207, 207, 207);
        color: grey;
    }

    &__sizes:focus {
        background: rgb(179, 200, 125);
        color: grey;
    }

    &__item_incDec {
        margin: 20px 0px;

        button {
            width: 60px;
            height: 30px;
            border: none;
        }

        button:hover {
            background-color: #fff;
        }

        input {
            width: 100px;
            text-align: center;
        }
    }

    &__item_shop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        button {
            padding: 10px 35px;
            border: none;
        }

        button:hover {
            background-color: #fff;
        }
    }
}

.Note {
    background: rgb(255, 255, 211);
}

@media only screen and (max-width: 600px) {
    .ProductInput {
        &__item_shop {
            display: flex;
            flex-wrap: wrap;
            margin: 20px 0px;

            button {
                width: 90vw;
                margin: 5px 0px;
            }
        }
    }
}
