@import "../../asset/palette.scss";

.SearchBar {
    text-align: right;
    margin: 10px;

    &__input {
        font-family: $body-font;
        padding: 5px;
        width: 257px;
        border: 1px solid grey;
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &__submit {
        font-family: $body-font;
        padding: 5px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid black;
    }

    &__submit:hover {
        background-color: white;
    }

    &__submit:active {
        background-color: rgb(209, 209, 209);
    }
}

@media only screen and (max-width: 600px) {
    .SearchBar {
        text-align: right;
        margin-top: 20px;
        display: flex;
        justify-self: center;

        &__input {
            font-family: $body-font;
            padding-left: 5px;
            width: 70vw;
        }

        &__submit {
            font-family: $body-font;
            width: 15vw;
        }
    }
}
